# Virtual environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store

# Data (raw input data not shared)
data/raw/

# Generated outputs
data/processed/

# Temporary files
*.log
*.tmp

# Notebook cache (optional)
.ipynb_checkpoints/